

form {
    margin-top: 20px;
}

fieldset {
    border: 1px solid #219ebc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #023047;
}

.form-item {
    display: grid;
    align-items: center; 
    margin-bottom: 15px;
}

.column1 {
    grid-template-columns: 3fr 1fr; 
    margin-bottom: 15px;
}

.column2 {
    grid-template-columns: 1fr 2fr; 
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #023047;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #8ecae6;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #219ebc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #023047;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #0d0f10;
}