:root {
    --primary: #219ebc;
    --secondary: #023047;
    --ascent1: #8ecae6;
    --ascent2: #219ebc;

    --heading-font: sans-serif;
    --text-font: sans-serif;
    }
    .lato-thin {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
    .lato-light {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
      }
    

body {
    max-width: 1200px; 
    margin: 0 auto;    
    font-family: var(--text-font); 
}

.header-grid {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--secondary-color);
}

.header-grid img {
    width: 150px; 
    height: auto;
}

.nav-flex {
    display: flex;
    justify-content: end;
    gap: 25px
}

.nav-flex a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
}

.nav-flex a:hover {
    color: var(--accent1-color);
}

    

h1 {
    font-size: 1.5em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    padding: 10px;
   
}


h2 {
    font-size: 1.8em;
}

p {
    color: var(--primary-color); 
    font-size: 1em;
    line-height: 1.6;
}

    .hero {
        position: relative;
        height: 440px;
        width: 100%;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50-50%);
    color: white; 
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;  
    
}

article img {
    position: absolute;
    top: 10%; 
    right: 30px; 
    transform: translateY(-50%); 
    max-width: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.history-content{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.history-content p{
    flex: 1;
    max-width: 300px;
}
.history-content img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.adventures {
    padding: 20px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-around;

    gap: 10px;
    flex-wrap: wrap; 
}

.adventure-gallery figure {
    margin: 0;
    text-align: center;
}

.adventure-gallery img {
    width: 200px; 
    height: 150px;
    object-fit: cover;
    border: 2px solid var(--accent2-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.adventure-gallery figcaption {
    font-size: 0.9em;
    color: var(--primary-color);
    margin-top: 5px;
}

.footer-flex {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    min-height: 50px;
}
.footer-flex p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
}
.social-links {
    -display: flex;
    gap: 10px;
}

footer a {
    text-decoration: none; 
}
footer img {
    width: 30px;
    height: auto;
    margin: 0 10px;

}